html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP, sans-serif";
}
body {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.chakra-modal__close-btn {
  font-size: 25px !important;
}
.chakra-modal__close-btn path {
  fill: #fff;
}
.svg-inline--fa {
  height: auto;
}
